html {
    --c-blue: #007bff;
    --c-purple: #6f42c1;
    --c-pink: #e83e8c;
    --c-red: #dc3545;
    --c-orange: #fd7e14;
    --c-yellow: #ffc107;
    --c-green: #28a745;
    --c-teal: #20c997;
    --c-cyan: #17a2b8;
    --c-white: #fff;
    --c-gray: #6c757d;
    --c-gray-dark: #343a40;
    --c-primary: #007bff;
    --c-secondary: #6c757d;
    --c-success: #28a745;
    --c-info: #17a2b8;
    --c-warning: #ffc107;
    --c-danger: #dc3545;
    --c-light: #f8f9fa;
    --c-dark: #343a40;
    --c-muted: #aaa;
}

.txt {

    &-red,
    &-danger {
        color: var(--c-red) !important;
    }
}

.fw {
    &-bold {
        font-weight: 700;
    }
}

.container {
    width: 1400px;
    max-width: 100%;

    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;
}

select,
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    max-width: 100%;
    display: block;

    margin-top: 5px;
    margin-bottom: 5px;

    border: 1px solid var(--c-muted);
    border-radius: 4px;

    outline: none;

    font-size: 16px;

    padding: 8px;

    color: var(--c-gray);

    &:focus {
        color: var(--c-dark);
        border-color: var(--c-blue);
    }

    &.error {
        color: var(--c-red);
        border-color: var(--c-red);
    }
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.col {
    &-12 {
        width: 100%;
    }

    &-6 {
        width: calc(50% - 10px);
    }

    &-3 {
        width: calc(25% - 10px);
    }
}

/** margin */
.mt {
    &-10 {
        margin-top: 10px;
    }

    &-15 {
        margin-top: 15px;
    }

    &-20 {
        margin-top: 20px;
    }
}

/**font-size */
.fz {

    &-12 {
        font-size: 12px;
    }

    &-14 {
        font-size: 14px;
    }
}

/**button */
button {
    border: 0;
    outline: none;
    font-size: inherit;

    &[disabled] {
        background-color: var(--c-gray);
    }
}

.btn {
    width: 160px;
    height: 40px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    color: var(--c-white);

    &-submit {
        background-color: var(--c-cyan);
    }
}